* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    font-family: Consolas;
    color: #00FF00;
    background-color: #000000;
}


#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    z-index: 10;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100vw;
    text-align: center;
} 

button {
    width: 250px;
    background-color: #000000;
    color: #00FF00;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: 250ms;
    border: 1px solid #00FF00;
}

button:hover {
    background-color: #00FF00;
    color: #000000;
}

.mb {
    margin-bottom: 32px;
}

input {
    width: 250px;
    border: 1px solid #00FF00;
    color: #00FF00;
    background-color: #000000;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

::placeholder {
    color: #00FF00;
    opacity: 0.25;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px; 
    height: 0px; 
    padding: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ff00;
    cursor: pointer;
}
  
p {
    max-width: 500px;
}

.modal {
    position: fixed;
    top: 32px;
    left: 32px;
    width: 128px;
    height: 250px;
    background-color: #000000;
    border: 1px solid #00FF00;
    padding: 16px;
    z-index: 10;
}

.text-center {
    text-align: center;
}

canvas {
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0.25;
}

.popup {
    width: 500px;
    padding: 16px;
    color: #00FF00;
    border: 1px solid #00FF00;
    background-color: #000000;
    z-index: 20;
    position: absolute;
    top: 32px;
    right: 50%;
    left: calc(50% - 250px);
    animation: 250ms anim-in forwards;
}

.anim-out {
    animation: 250ms anim-out forwards;
}

@keyframes anim-in {
    0% {
        margin-top: -200px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes anim-out {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: -200px;
    }
}

.title {
    width: 700px;
}

.games {
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.gg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #00FF0033;
    color: #00FF0033;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.active {
    color: #00FF00;
    border: 1px solid #00FF00;
    animation: 250ms circle;
}

@keyframes circle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}  